---
title: Paweł Golonko • Curriculum Vitae
description: Web developer with over 10 years experience in creating sites and complex web applications. Familiar with all phases of software development life cycle. Enthusiast of new technologies and clean code.
---
<header id="header" class="slide fit">
  <div class="wrapper">
    <div id="me">
        <img src="{{assets}}/images/me.jpg" alt="Paweł Golonko">
    </div>

    {{{md 'src/md/1-cover.md'}}}
  </div>
</header>

<section id="experience" class="slide">
  <div class="wrapper">
    {{{md 'src/md/2-experience.md'}}}
  </div>
</section>

<section id="skills" class="slide">
  <div class="wrapper">
    {{{md 'src/md/3-skills.md'}}}
  </div>
</section>

<section id="education" class="slide">
  <div class="wrapper">
    {{{md 'src/md/4-education.md'}}}
  </div>
</section>

<section id="hobbies" class="slide fit">
  <div class="wrapper">
    {{{md 'src/md/5-hobbies.md'}}}
  </div>
</section>