<!DOCTYPE html>
<html lang="en" class="no-js">
{{> introduction}}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{{ this.page.title }}</title>
  <meta name="description" content="{{ this.page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,500,700|Open+Sans:400,300,600,800&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
  <link href="{{assets}}/common.css" rel="stylesheet" type="text/css">
  <link href="{{assets}}/rich.css" data-style="default" rel="stylesheet" type="text/css">
  <link href="{{assets}}/markdown.css" data-style="markdown" rel="alternate stylesheet" type="text/css">
  <script type="text/javascript">
    document.documentElement.className = 'js';
  </script>
  {{#if production}}
    {{> google-analytics }}
  {{/if}}
</head>
<body class="loaded">
  <div id="container">
    {{> body}}
    <footer id="footer">
      <p id="tools">
        Built with
        <a href="https://npmjs.com/">npm</a>,
        <a href="http://assemble.io/">Assemble</a>,
        <a href="http://babeljs.io/">Babel</a> and
        <a href="http://gruntjs.com/">Grunt</a>.
        Check the <a href="https://github.com/greenek/cv">source code</a>.
      </p>
    </footer>
  </div>
  <a href="https://github.com/greenek/cv" id="programmers-porn" class="ribbon">Fork me on Github</a>
  <script src="{{assets}}/app.js"></script>
  {{#if development}}
  <script src="//localhost:35729/livereload.js"></script>
  {{/if}}
</body>
</html>